@import 'base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@layer base {
  body{
    @apply p-0 m-0;
  }
  li{
    list-style: none;
  }
}
aside{
  @apply h-screen md:sticky fixed top-0 bg-white dark:bg-black xl:w-72 md:w-64 duration-500 py-5 md:px-5 z-50;
}

.card{
  flex-basis: 0;
  flex-grow: 1;
}
