@tailwind base;
@tailwind utilities;
@tailwind variants;

@layer base{
  *, *::before, *::after{
    @apply box-border;
  }
  html{
    @apply m-0;
  }
  body{
    @apply dark:bg-slate-950 bg-neutral-200 dark:text-neutral-300 text-neutral-700
  }
}
